ion-list-header {
  margin-top: 16px;
  margin-bottom: 8px;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-icon {
  font-size: 24px;
  margin-right: 16px;
}

ion-label h2 {
  font-weight: 500;
  margin-bottom: 4px;
}

ion-label p {
  font-size: 14px;
  color: var(--ion-color-medium);
}
